header {
  display: flex;
  justify-content: center;
}

header img {
  background-color: #ffffff;
  width: 60%;
  height: 63px;
  display: flex;
  justify-self: center;
  text-align: center;
  margin-bottom: 5px;
}
