.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  width: 100%;
  background-color: #ffffff;
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Shrikhand", cursive;
    width: 100%;
  }
  &__return {
    padding: 5px;
    i {
      width: 30px;
      height: 30px;
      color: black;
    }
  }
}
