.main {
  text-align: center;
  font-family: $text-font;
  @media screen(min-width:768px) {
  }

  &__location {
    height: 50px;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    box-shadow: 0px 4px 4px 0px #00000040;
  }
  &__description {
    background-color: #f6f6f6;
  }
  &__description__title {
    font-weight: 100px;
    margin: 0px;
    font-family: $text-font;
  }
  &__description__text {
    color: #353535;
  }
  &__description__btn {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 218px;
    height: 50px;
    color: #ffffff;
    border: solid 2px $color-secondary;
    border-radius: 39px;
    background-color: $color-secondary;
    text-decoration: none;
    margin-left: 20%;
  }
  &__fonction h2 {
    display: flex;
    width: 275px;
    height: 31px;
  }
}
