.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  width: 100%;
  background-color: #ffffff;
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Shrikhand", cursive;
    width: 100%;
  }
  &__return {
    padding: 5px;
    i {
      width: 30px;
      height: 30px;
      color: black;
    }
  }
}
body {
  width: 100%;
  margin: 0px;
}

.main {
  width: 100%;
  margin: 0px;
  &__backo {
    width: 100%;
    height: 275px;
    object-fit: cover;
  }
  &__location h3 {
    font-weight: 400;
  }
  &__menu {
    background-color: #f6f6f6;
    border-radius: 40px 40px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 0px;
    top: -50px;
    @media screen and (min-width: 768px) {
      display: flex;
      width: 70%;
      margin-left: 15%;
    }
    &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Shrikhand", cursive;
      font-weight: 500;
      width: 100%;

      @media screen and (min-width: 1300px) {
        justify-content: center;
      }
    }
    &__head {
      width: 100%;
      border-radius: 20px;
      background-color: #f6f6f6;
      display: flex;
      align-items: center;
      &__heart {
        position: relative;
        .fa-regular {
          top: 0;
          left: 0;
        }
        .fa-solid {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          &:hover {
            opacity: 1;
            transition: all 400ms;
            background: $light-gradient;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
          }
        }
      }
    }
    .fa-heart {
      width: 22px;
      height: 21px;
    }
    &__starter,
    &__dish,
    &__dessert {
      padding: 5px;

      h3 {
        display: flex;
        position: relative;
        margin-bottom: 10px;
        padding-left: 15px;
        font-weight: 300;
        text-transform: uppercase;
      }

      &__meal {
        display: flex;
        justify-content: space-between;
        align-content: flex-start;
        flex-wrap: nowrap;
        align-items: flex-end;
        background-color: #ffffff;
        border-radius: 20px;
        margin: 15px;
        padding: 0px 0px 0px 10px;
        gap: 5px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        animation: slideup 1s forwards;
        cursor: pointer;

        animation: slidein 1s;
        @keyframes slidein {
          from {
            margin-left: 100%;
            width: 300%;
          }

          to {
            margin-left: 0%;
            width: 100%;
          }
        }

        &:hover {
          .main__menu__starter__meal__box,
          .main__menu__dessert__meal__box,
          .main__menu__dish__meal__box {
            width: 60px;
          }
        }

        &__description {
          display: flex;
          flex-grow: 1;
          flex-direction: column;
          align-items: flex-start;
          gap: 0px;
          padding: 0px;
          h4 {
            font-family: $text-font;
            display: flex;
            margin: 0px;
          }
          p {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-family: $text-font;
            margin: 5px;
          }
        }
        &__price {
          display: flex;
          margin-top: 25px;
        }
        &__box {
          overflow: hidden;
          color: white;
          width: 59px;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 0px 20px 20px 0px;
          background-color: $color-tertiary;
          width: 0px;
          transition: all 300ms;
        }
        .fa-circle-check {
          width: 20px;
          height: 20px;
        }
      }
    }
    &__cmd {
      display: flex;
      justify-content: center;
      align-items: center;
      &__btn {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 50%;
        margin-bottom: 20px;
        padding: 15px;
        @include base-shadow;
        @include button-style;
        @media screen and (min-width: 768px) {
          width: 186px;
        }
        &:hover {
          @include button-hover;
        }
      }
    }
  }
}
