ul {
  margin: 0px;
  padding: 0px;
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2509803922);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeout 2s forwards linear;
}

@keyframes fadeout {
  0% {
    transition: transform 300ms ease-in-out;
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    visibility: hidden;
  }
}
.lettre {
  color: #484848;
  font-size: 40px;
  letter-spacing: 15px;
  margin-bottom: 100px;
  animation: flash 1.2s linear infinite;
}

@keyframes flash {
  0% {
    color: #99e2d0;
    text-shadow: 0 0 7px #99e2d0;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #99e2d0;
    text-shadow: 0 0 7px #99e2d0;
  }
}
img {
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.main__location {
  height: 50px;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.main__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #f6f6f6;
}
.main__description__title {
  font-weight: 100px;
  margin: 20px;
  font-family: "Roboto", sans-serif;
}
.main__description__text {
  color: #353535;
}
.main__description__btn {
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.421);
  text-decoration: none;
  border: none;
  border-radius: 39px;
  letter-spacing: 1px;
  cursor: pointer;
  color: white;
  font-weight: 400;
  font-size: 16px;
  background: linear-gradient(to bottom, #ff79da, #9356dc 80%);
  transition: all 0.4s ease-in-out;
}
@media screen and (min-width: 768px) {
  .main__description__btn {
    padding: 15px;
  }
}
.main__description__btn:hover {
  box-shadow: 5px 5px 5px black;
  background: linear-gradient(to bottom, #ff93e1, #a16be0 80%);
}
.main__fonction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .main__fonction {
    margin-left: 8%;
    margin-right: 8%;
  }
}
.main__fonction__stages {
  transition-property: transform 100ms;
  width: 100%;
}
.main__fonction__stages :hover {
  transform: scale(1.15);
}
@media screen and (min-width: 768px) {
  .main__fonction__stages {
    display: flex;
    flex-direction: row;
  }
}
.main__fonction div {
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .main__fonction div {
    gap: 10px;
  }
}
.main__fonction__stages__stage {
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #f6f6f6;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}
@media screen and (min-width: 768px) {
  .main__fonction__stages__stage {
    gap: 10px;
  }
}
.main__fonction__stages__stage div {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  border-radius: 50px 50px;
  color: #ffffff;
}
.main__restaurant {
  display: flex;
  flex-wrap: wrap;
  background-color: #f6f6f6;
}
.main__restaurant h2 {
  margin-left: 8%;
}
@media screen and (min-width: 768px) {
  .main__restaurant h2 {
    text-align: center;
  }
}
.main__restaurant__card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin: 10px;
  width: 100%;
  border-radius: 15px;
}
.main__restaurant__card {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .main__restaurant__card {
    gap: 50px;
  }
}
.main__restaurant__card__new {
  text-decoration: none;
  color: black;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .main__restaurant__card__new {
    text-align: center;
    width: 40%;
    gap: 50px;
    background-color: #ffffff;
    border-radius: 15px;
  }
}
.main__restaurant__card__new img {
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0px 0px;
}
.main__restaurant__card__note {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px;
  text-decoration: none;
}
.main__restaurant__card__note__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  gap: 100px;
}
.main__restaurant__card__note__title__head {
  width: 100%;
  border-radius: 20px;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
}
.main__restaurant__card__note__title__head__heart {
  position: relative;
}
.main__restaurant__card__note__title__head__heart .fa-regular {
  text-decoration: none;
  display: flex;
  top: 0;
  left: 0;
}
.main__restaurant__card__note__title__head__heart .fa-solid {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.main__restaurant__card__note__title__head__heart .fa-solid:hover {
  opacity: 1;
  transition: all 400ms;
  background: linear-gradient(to bottom, #ff93e1, #a16be0 80%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.main__restaurant__card__note__title p {
  text-decoration: none;
  display: flex;
  margin: 0px;
}
.main__restaurant__card__note__title h3 {
  text-decoration: none;
  list-style: none;
  margin: 0px;
  align-items: center;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: center;
}

header img {
  background-color: #ffffff;
  width: 60%;
  height: 63px;
  display: flex;
  justify-self: center;
  text-align: center;
  margin-bottom: 5px;
}

.footer {
  width: 100%;
  padding: 10px;
  color: white;
  background-color: #333;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
  }
}
.footer h2 {
  margin-bottom: 10px;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .footer h2 {
    margin-right: 20px;
  }
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-decoration: none;
  color: #ffffff;
  margin: 5px;
}
@media screen and (min-width: 768px) {
  .footer__nav {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}
.footer__nav li {
  list-style: none;
}
.footer__nav li a {
  text-decoration: none;
  color: #ffffff;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  width: 100%;
  background-color: #ffffff;
}
.header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Shrikhand", cursive;
  width: 100%;
}
.header__return {
  padding: 5px;
}
.header__return i {
  width: 30px;
  height: 30px;
  color: black;
}

body {
  width: 100%;
  margin: 0px;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  width: 100%;
  margin: 0px;
}
.main__backo {
  width: 100%;
  height: 275px;
}
.main__location h3 {
  font-weight: 400;
}
.main__menu {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0px;
  top: -50px;
}
@media screen and (min-width: 768px) {
  .main__menu {
    width: 70%;
    margin-left: 15%;
  }
}
.main__menu__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  width: 100%;
}
@media screen and (min-width: 1300px) {
  .main__menu__title {
    justify-content: center;
  }
}
.main__menu__head {
  width: 100%;
  border-radius: 20px;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
}
.main__menu__head__heart {
  position: relative;
}
.main__menu__head__heart .fa-regular {
  top: 0;
  left: 0;
}
.main__menu__head__heart .fa-solid {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.main__menu__head__heart .fa-solid:hover {
  opacity: 1;
  transition: all 400ms;
  background: linear-gradient(to bottom, #ff93e1, #a16be0 80%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.main__menu .fa-heart {
  width: 22px;
  height: 21px;
}
.main__menu__starter, .main__menu__dish, .main__menu__dessert {
  padding: 5px;
  width: 100%;
}
.main__menu__starter h3, .main__menu__dish h3, .main__menu__dessert h3 {
  display: flex;
  position: relative;
  margin-bottom: 10px;
  padding-left: 15px;
  font-weight: 300;
  text-transform: uppercase;
}
.main__menu__starter__meal, .main__menu__dish__meal, .main__menu__dessert__meal {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-end;
  background-color: #ffffff;
  border-radius: 20px;
  width: 85%;
  padding: 15px;
  margin: 15px;
  gap: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation: slideup 1s forwards;
  cursor: pointer;
  animation: slidein 1s;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
.main__menu__starter__meal:hover .main__menu__starter__meal__box,
.main__menu__starter__meal:hover .main__menu__dessert__meal__box,
.main__menu__starter__meal:hover .main__menu__dish__meal__box, .main__menu__dish__meal:hover .main__menu__starter__meal__box,
.main__menu__dish__meal:hover .main__menu__dessert__meal__box,
.main__menu__dish__meal:hover .main__menu__dish__meal__box, .main__menu__dessert__meal:hover .main__menu__starter__meal__box,
.main__menu__dessert__meal:hover .main__menu__dessert__meal__box,
.main__menu__dessert__meal:hover .main__menu__dish__meal__box {
  width: 60px;
}
.main__menu__starter__meal__description, .main__menu__dish__meal__description, .main__menu__dessert__meal__description {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
  padding: 0px;
}
.main__menu__starter__meal__description h4, .main__menu__dish__meal__description h4, .main__menu__dessert__meal__description h4 {
  font-family: "Roboto", sans-serif;
  display: flex;
  margin: 0px;
}
.main__menu__starter__meal__description p, .main__menu__dish__meal__description p, .main__menu__dessert__meal__description p {
  font-family: "Roboto", sans-serif;
  display: flex;
  margin: 5px 5px 5px 0px;
}
.main__menu__starter__meal__price, .main__menu__dish__meal__price, .main__menu__dessert__meal__price {
  display: flex;
  margin-top: 25px;
}
.main__menu__starter__meal__box, .main__menu__dish__meal__box, .main__menu__dessert__meal__box {
  overflow: hidden;
  color: white;
  width: 59px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 20px 20px 0px;
  background-color: #99e2d0;
  width: 0px;
  transition: all 300ms;
}
.main__menu__starter__meal .fa-circle-check, .main__menu__dish__meal .fa-circle-check, .main__menu__dessert__meal .fa-circle-check {
  width: 20px;
  height: 20px;
}
.main__menu__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.421);
  text-decoration: none;
  border: none;
  border-radius: 39px;
  letter-spacing: 1px;
  cursor: pointer;
  color: white;
  font-weight: 400;
  font-size: 16px;
  background: linear-gradient(to bottom, #ff79da, #9356dc 80%);
  transition: all 0.4s ease-in-out;
}
@media screen and (min-width: 768px) {
  .main__menu__btn {
    width: 186px;
    margin-left: 35%;
  }
}
.main__menu__btn:hover {
  box-shadow: 5px 5px 5px black;
  background: linear-gradient(to bottom, #ff93e1, #a16be0 80%);
}/*# sourceMappingURL=style.css.map */